* {
    box-sizing: border-box;
    outline: none !important;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
  

body {
    background: #202020 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: rgba(255,255,255,0.5) !important;
}  

.App {
    display: flex;
    justify-content: center;
}

#container {
    width: 90%;
    background: #2a2a2a !important;
    display: flex;
    justify-content: space-between;
}

#header {
    width: 25%;
    padding: 3em 0em;
    text-align: center;
    margin-bottom: 4em;
}

#logo {
    text-align: center;
    margin-bottom: 4em;
}

#menu li {
    display: block;
    padding: 2em 1.5em;
    text-align: center;
    text-decoration:  none;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 1px solid rgba(255,255,255,0.08);
}

#menu li:hover {
    background:#2980b9;
     /* #414446; */
    color: rgba(255,255,255,1);
    cursor: pointer;
}

#main {
    width: 75%;
    padding: 3em 50px 5em 50px;
    background: #FFF;
    border-top: 6px solid #2980b9;
    text-align: center;
}

#maininfo{
    background: #2a2a2a;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1px 0 0 20px;
    margin: 65px 0;
}

#maininfo > input {
    width: 29%;
    font-size: 20px;
    padding: 12px 5px;
    background: #2a2a2a;
    border: none;
    border-right: 1px solid rgba(255,255,255,0.08);
    color: white;
}
.search input {
    width: 77% !important;
}
#maininfo>button {
    width: 23%;
    font-size: 20px;
    padding: 12px 5px;
    background: #2980b9;
    border: none;
    color: white;
    border-radius: 20px;
}

#maininfo>button:hover {
    background: #4c97c8;
}

#currentpage {
    background: #2980b9;
    color:white;
}
/* 
.mainlisthov tr:hover{
    background: #32628b;
} */

.table.table-dark  th{
    vertical-align: middle !important;
}

.radio {
    padding-top: 38px;
    font-size: 16px;
    color: black;
}
  
.radio label {
padding-right: 13px;
}

.BW_Name_error {
    color: red;
    text-align: center;
}

#maininfo>div {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-right: 6px;
}
.editedSuppier {
    border:none;
}
.pt-3-half {
    padding-top: 1.4rem;
}
.text-success {
    font-size: 26px !important;
}
.editicon {
    font-size: 18px;
    padding: 0 3px 3px 0;
}
.deleteicon {
    font-size: 19px;
    padding: 0 3px 3px 0;
}
.deletebutton {
    background: #c75858 !important;
}
.repeatsupp{
    border: 1px solid red;
}